body {
    background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
head {
  background-color: #a42727;
}

h1 {
  font-size: 44px;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 2.5);
  padding-bottom: -20px;
}

button {
  font-size: large;
  font-weight: bold;
  display: inline;
  background-color: #a42727;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
form {
  display: inline;
}

.head_bar {
  background-color: rgb(164, 39, 39);
  text-shadow: 21px, black;
  text-align: center;
  height: 180px;
}

.login {
  background-color: #fef9f9;
  border-radius: 20px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  width: 275px;
  height: 220px;
  padding: 25px;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.login_box {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.inside_items{
  background-color: #fef9f9;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  width: 175px;
  height: 220px;
  padding: 35px;
 


}

.items{
  display: grid;
 }

.items button{
    font-size: small;
    background-color: #a42727;
}