body {
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
    display: flexbox;
}

h1{
    font-style: normal;
    text-align: center;
    color: #ffffff;
    stroke: black, 2px;
 
}

button{
    font-weight: bold;
    display: inline;    
    background-color: #a42727;
    color: #ffffff;
    padding: 7;
    
}
form{
   display: inline;
    font-family: 'Times New Roman', Times, serif

}

.head_bar{
    background-color: rgb(164, 39, 39);
    text-shadow: 21px , black;

}
